<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Photo Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="loadPhotos()">Load Photos</ion-button>

  <ion-grid *ngIf="photosLoaded">
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.savedPhotos">
        <div class="photo-container">
          <ion-img [src]="photo.webviewPath"></ion-img>
          <ion-text class="filename">{{ photo.filepath }}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>